body {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
}

canvas {
    width: 100ww;
    height: 100wh;
}

.maincontent {
    font-family: Helvetica;
    display: block;
    justify-content: center;
}

.nav {
    /* navigasjonslinjen */
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #6e6d71;
    position: relative;
    top: 0;
    width: 100%;
    padding: 10px;
}

.nav a {
    /* elementer i navigasjonslinjen */
    font-family: Helvetica;
    letter-spacing: 0.2px;
    float: left;
    display: block;
    background-color: #6e6d71;
    color: #eaeaea;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer; /* for å markere at man kan trykke på gameid */
    user-select: none; /* for å unngå å marker tekst istedenfor å trykke */
}

.nav a:hover {
    background-color: #646464;
}

.sitetitle{
    /* skriver lobbynavn */
    font-family: Helvetica;
    display: block;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 14px 16px;
    align: center;
    
}

.gamewrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    vertical-align: center;
    background-color: rgb(196, 187, 187);
}

