body {
    margin: 0;
    position: relative;
    height: 100vh;
}
.gamewrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
    height: 100vh;
}
.chat {
    position: absolute;
    left: 80vw;
    top: 0;
    width: 20vw;
    height: 100vh;
}
/* canvas {
    position: absolute;
    aspect-ratio: 2;
    width: 100%;
} */